.gradle/
build/
local.properties
*.iml
.idea/
*.log
*.tmp
*.swp
*~.nib
.DS_Store
Thumbs.db
*.bak
*.orig
*.rej
*.sublime-*
*.keystore
*.jks
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache